<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- spring与hibernate整合:
				需要将sessionFactory交由spring容器来维护.
				扫描dao层:
	 -->	
	 
	 <!-- 必须叫: sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 内部需要维护:
				1.连接池.  2.hibernate的常量配置.  3.映射文件的加载.
		 -->
		<property name="dataSource" ref="dataSource"></property>
		
		<!-- 写法一: 直接维护常量配置. -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>	
		</property>
		
		<!--
			写法二: 负责继续加载hibernate.cfg.xml. 
			<property name="configLocation"></property> 
		-->
		<property name="mappingLocations">
			<value>classpath:com/hfxt/domain/*.hbm.xml</value>
		</property>
	</bean>
	
	<!-- 扫描dao层的实现类: -->	
	<context:component-scan base-package="com.hfxt.dao"></context:component-scan>
</beans>
